@{
    ViewData["Title"] = "HomeTipoCabania";
}

<h1>Info sobre los tipos de cabañas</h1>

<p>
    <a asp-action="Index">Ver todos los tipos de cabañas</a>
</p>

<p>
    <a asp-action="Create">Dar de alta un nuevo tipo de cabaña</a>
</p>

<p>
    <a asp-action="GetByNombre">Buscar un tipo de cabaña por nombre</a>
</p>