@{
    ViewData["Title"] = "HomeCabania";
}

<h1>Info sobre cabañas</h1>

<p>
    <a asp-action="Index">Ver todas las cabañas</a>
</p>

<p>
    <a asp-action="Create">Dar de alta una nueva cabaña</a>
</p>

<p>
    <a asp-action="GetCabaniasByCantMaxPersonas">Buscar cabañas por cantidad máxima de personas</a>
</p>

<p>
    <a asp-action="GetCabaniasHabilitadasReserva">Ver cabañas habilitadas para reserva</a>
</p>

<p>
    <a asp-action="GetCabaniasByNombre">Buscar cabañas por nombre</a>
</p>

<p>
    <a asp-action="GetCabaniasByTipo">Buscar cabañas por tipo</a>
</p>

<p>
    <a asp-action="GetCabaniasByMonto">Buscar cabañas por monto</a>
</p>