@{
    ViewData["Title"] = "HomeCabania";
}

<h1>Info sobre cabañas</h1>

<p>
    <a asp-action="Index">Ver todas las cabañas</a>
</p>

<p>
    <a asp-action="Create">Dar de alta una nueva cabaña</a>
</p>

<p>
    <a asp-action="GetByCantMaxPersonas">Buscar cabañas por cantidad máxima de personas</a>
</p>

<p>
    <a asp-action="GetByHabilitada">Ver cabañas habilitadas para reserva</a>
</p>

<p>
    <a asp-action="GetByNombre">Buscar cabañas por nombre</a>
</p>

<p>
    <a asp-action="GetByTipo">Buscar cabañas por tipo</a>
</p>